# Python cache
__pycache__/
*.pyc
src/__pychahe__/

# Virtual environment
venv/
.env/

# Secrets folder
.secrets/

# Optional OS junk
.DS_Store
Thumbs.db

.directory
.debuga
.debug
*.sqlite3
*.env
recent_dirs.json
documentation/ARCHITECTURE.md
documentation/DATA_FLOW.md
documentation/DEVELOPER_GUIDE.md
documentation/DOCS_CREATED.md
documentation/DOCUMENTATION_INDEX.md
documentation/QUICK_REFERENCE.md
documentation/QUICK_SUMMARY.md
documentation/README_DOCUMENTATION.md
import
src/old/create_yt_playlist.py
src/old/import_from_txt.py
src/old/yt_cache.py
data/songs.txt
debug.log
src/database/music-backup-old.db
src/database/music.26.05.22-1149.db
src/database/music.260521-1748.db
src/database/music.260521-1858.db
src/database/music.260521-1945.db
src/database/music.260522-1146.db
src/database/music.260522-1233.db
src/database/music.260522-1246.db
src/database/music.260522.1211.db
src/database/music.db
src/database/tag.26.05.22-1149.db
src/database/tag.260521-1748.db
src/database/tag.260521-1858.db
src/database/tag.260521-1945.db
src/database/tag.260522-1146.db
src/database/tag.260522-1233.db
src/database/tag.260522-1246.db
src/database/tag.260522.1211.db
src/database/tag.db
src/database/music.db
src/database/tag.db
src/database/music-backup-old.db
src/database/music.260522-1320.db
src/database/music.260522-1324.db
src/database/music.260522-1352.db
src/database/music.260522-1401.db
src/database/music.db
src/database/tag.260522-1320.db
src/database/tag.260522-1324.db
src/database/tag.260522-1352.db
src/database/tag.260522-1401.db
src/database/tag.db
src/database/music-backup-old.db
src/database/music.db
src/database/tag.db
src/database/music.db
src/database/tag.db
